:root {
  --accent-color: #265954;
  --accent-color-light: #f4f4f4;
  --background-color: #ffffff;
  --text-color-light: #a8a8a8;
  --text-color: #6a6a6a;
  --text-color-dark: #151515;
  --background-light: #e5e6e7;
  --background-dark: #cacbd3;
  --border-light: #f0f0f0;
  --border-dark: #d4d4d4;
  --font-family: "Open Sans", sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,400i&display=swap');

#root {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-dark);
  box-sizing: border-box;
}

span {
  font-size: 14px;
}

p {
  font-size: 14px;
}

h2 {
  margin: 20px 0 10px 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--accent-color);
  text-transform: uppercase;
}

h3 {
  margin: 0 0 5px;
  font-size: 16px;
}


/* normalize */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }